/* GLOBAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

nav {
    background: #553555;
    border-bottom: 1px solid #fefaee;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
}

a {
    color: #fefaee;
    text-decoration: none;
}

/* GENERAL NAV STYLES */


/* HOVER OFF EFFECT */
a,i {
    color: #fefaee;
    transition: ease-in .5s;
    font-size: 18px;
    
}

/* HAMBURGER ICON  */
a:hover {
    color: #FDB927;
    letter-spacing: .5em;
    transition: ease-in .5s;
    
}

i:hover {
    color: #FDB927;
    transition: ease-in .5s;
}

.navlogo a:hover {
    text-decoration: none;
}


.navmenu li {
    font-size: 16px;
    padding: 20px 10px;
    white-space: nowrap;
}

.navlogo a {
    font-size: 22px;
    letter-spacing: .2em;
}

ul {
    list-style: none;
}

/* MOBILE FIRST MENU */

.navmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navitem {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
}

.navitem.show {
    display: block;   
}


/* NAV TOGGLE */

.navicon {
    cursor: pointer;
    color: #fefaee;
}


/* TABLET NAVBAR */

@media all and (min-width: 468px) {
    .navmenu {
        justify-content: center;
    }
    .navlogo {
        flex: 1;
    }
    .navicon {
        order: 2;
    }
}


/* PC NAVBAR */

@media all and (min-width: 768px) {
    .navitem {
        display: block;
        width: auto;
    }
    .navicon {
        display: none;
    }
    .navlogo {
        order: 0;
    }
    .navitem {
        order: 1;
    }
    /* .button {
        order: 2;
    } */
    .navmenu li {
        padding: 15px 10px;
    }
}

/* HOME PAGE */

.homecont {
    position: relative;
    min-height: 92vh;
    background-image: url(reelbg.png);
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    /*resizes background to window size for chromium based broswers */
    -moz-backround-size: cover;
    /*resizes background to window size on firefox*/
    -ms-background-size: cover;
    /*resizes background to window size on edge*/
    overflow: auto;
}

.homecont div {
    color: #fefaee;
    min-width: 40vw;
    min-height: 25vh;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.homecont div:nth-child(1) {
    /*p */
    font-size: 20px;
}

.homecont div:nth-child(2) {
    /* order: 0;
    flex: 0 1 auto; */
    text-align: center;
    font-size: 40px;
}

/*            */
/* ABOUT PAGE */
/*            */

.aboutcont {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.about {
    position: absolute;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg2 {
    background-image: url(reelbg.png);
    z-index: -1;
}

.accordiancont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*               */
/* BOOKING PAGE  */
/*               */

.contactcont {
    width: 100%;
    height: 80vh;
    display: flex;
    overflow: hidden;
}

.contact  {
    position: absolute;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg3 {
    background-image: url(reelbg.png);
    z-index: -1;
}
.contactform{
    width: 100%;
    color: #fefaee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.contactfield{
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    border: 2px solid ;
    border-radius: 20px;
    background-color:#fefaee;
    outline: none;     /* removes outline from active item */
}

.contactbutton {
    padding: 5px;
    background-color:#fefaee;
    border: 2px black;
    border-radius: 25px;
    font-size: 20px;
}
